html {
  height: 100%;
  background: 50% 50% no-repeat
    url('data:image/svg+xml,<svg viewBox="-20 -5 60 40" width="140" xmlns="http://www.w3.org/2000/svg" opacity="0.2"><path d="M1 8l11-7 11 7v8l-11 7-11-7zm0 0l11 8 11-8m0 8L12 8 1 16M12 1v7m0 8v7" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="2"/><text x="-12" y="32" font-size="5" font-family="monospace" fill="currentColor">Built on CodePen</text></svg>');
}

h1 {
    text-align: center;
    color: #e66b91;
    font-family: 'Fredoka', sans-serif;
    font-size: 55px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 10px;

    -webkit-text-stroke: 1.5px #d9577e;
    text-shadow:
        2px 2px 0px #f5c3d2,
        -1px -1px 0px #d9577e,
        1px -1px 0px #d9577e,
        -1px 1px 0px #d9577e,
        1px 1px 0px #d9577e;
        }
  
body{background-color:pink;
    border:6px;
    border-radius:25px;
    cursor:png('cursor.png'),auto;}
